/* Sets element attributes based on the max-height of the screen */
* {
	margin:0px;
	padding:0px;
}

html, body
{
    height:100%;
    width:100%;
    background-color:#ffffff;
    color:#000000;
    font-weight:normal;
    font-family:"Segoe UI" , "Segoe" , "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
    min-width:500px;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}

body
{
    font-size:0.9em;
}

/************** Full page and content wrappers **************/
#fullpage, #branding-wrapper {
    width:100%;
    height:100%;
    background-color:inherit;
}

#branding-wrapper {
    /*background-color: #222428;*/
    width: 100%;
    height: 100%;

}

.float {
    float: left;
}

.img {
    background-image: url("https://bpb-ca-c1.wpmucdn.com/sites.macewan.ca/dist/c/1/files/2020/05/cropped-MacEwan-University.jpg");
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
} 

#branding {
    height: 100%;
    margin-right: 500px;
    margin-left: 0px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

#content-wrapper {
    position: relative;
    width: 500px;
    height: 100%;
    overflow: auto;
    /*background-color: #222428;*/
    margin-left: -500px;
    margin-right: 0px;
}

::-webkit-scrollbar {
    width: 0px;   /*Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/************** Log in for box **************/
#login-content {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -55px auto;
    padding: 0px 50px 0px 50px;
}

.header {
    font-size:2em;
    font-weight:lighter;
    font-family:"Segoe UI Light" , "Segoe" , "SegoeUI-Light-final", Tahoma, Helvetica, Arial, sans-serif;
    padding-top: 90px;
    margin-bottom:60px;
    min-height:100px;
    overflow:hidden;
}

.lightVuImg {
    width: auto;
    height: auto;
    max-width: 100%;
}

.login-box, #header {
    word-wrap: break-word;
    width: 350px;
}

#upper-box-wrapper {
    background-color: #fff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#upper-box {
    top: 0;
    height: 144px;
    color:#fff;
    border-radius: 0 0 80px 0;
    background: #8c2332;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
}

#upper-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#upper-box h1{
    padding: 1rem 0 0 1.3rem;
    margin-bottom: 4px;
}

#upper-box h6{
    padding: 0 1.4rem;
    margin-top: 0;
}

#lower-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8c2332;
    z-index: -1;
    border-top-right-radius: 12px;
    border-top-left-radius:12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius:12px;
}

#lower-box {
    border-radius: 80px 0 0 0;
    background: #fff;
    bottom: 0;
    padding: 0 24px 24px 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#error-message {
    color: red;
    top: 10px;
    position: relative;
}

.login-box {
    position: relative;
    background: #8c2332;
    width: 100%;
    box-shadow: 8px 12px 12px 6px rgba(179, 179, 179, 1);
    border-radius: 8px;
    z-index: 1;
}

.user-info-box {
    --padding-start: 0px;
    --padding-end: 0px;
    --border-radius: 4px;
    --inner-padding-end: 0px;
    width: 100%;
}

.user-info-box.item-inner {
    padding-inline-end: 0px;
}

.user-info-box.input ion-input {
    --padding-start: 12px;
}

.user-info-box {
    width: 100%;
    padding: 1%;
    position: relative;
    font-size: small;
    margin-bottom: 10px;
}

.forgot-password {
    font-size: small;
    padding-left: 4px;
}

.button-divider {
    border: 1px solid rgb(197, 197, 197);
    margin-top: 10px;
    margin-top: 20px;
}

.login-button {
    width: 100%;
    margin-top: 20px;
    --background: #8c2332;
}

/************** Media Queries **************/
/* Stolen from https://portal.lightvu.com/. Form factor: intermediate height layout. Reduce space of the header. */
@media only screen and (max-height: 820px) {
    .header {
        padding-top: 12px;
        margin-bottom: 32px;
    }


}

/* Stolen from https://portal.lightvu.com/. Form factor: intermediate height layout. Reduce space of the header. */
@media only screen and (max-height: 500px) {
    .header {
        padding-top: 30px;
        margin-bottom: 30px;
        height: 100%;
        width: 350px;
    }
    .login-box{
        margin-bottom:40px; 
    }
}

/* Stolen from https://portal.lightvu.com/. Form factor: intermediate layout (WAB in non-snapped view falls in here) */
@media only screen and (max-width: 600px) {
    html, body {
        min-width: 260px;
    }

    #branding {
        display: none;
    }

    #branding-wrapper {
        display: none;
    }

    #content-wrapper {
        float: none;
        width: 100%;
        margin: 0px auto;
    }

    .login-content, #footer, #header {
        width: 400px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-box {
        width: 100%;
    }

}

@media only screen and (max-width: 450px) {
    body {
        font-size: 0.8em;
    }

    #login-content, #footer {
        width:auto;
        margin-right:29px;
        margin-left:29px;
        padding: 0px;
    }
    
    #header {
        width: auto;
    }
}

.content {
    width: 100%;
    height: 100%;
    background-color:inherit;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}
